.allContainer
    color $COLOR_GRAY
    &>.mainContainer
        &>.thingToDoTitle
            color $COLOR_BLUE
        
        &>.thingsToDo
            &>.thingToDo
                background-color $COLOR_BLUE_BRIGHTER
                margin 1em 0
                
                &>p 
                    color $COLOR_WHITE
                
                &>.buttons
                    &>.md-button
                        &>md-icon
                            color $COLOR_WHITE 
        
        &>.completeTitle
            color $COLOR_BLUE_LIGHT

        &>.thingsCompleted
            &>.thingCompleted
                background-color $COLOR_BLUE_LIGHT
                margin 1em 0
                
                &>p
                    color $COLOR_WHITE
                
                &>.buttons
                    &>.md-button
                        &>md-icon
                            color $COLOR_WHITE