<div class="allContainer" layout="column" layout-align="center center" layout-fill>
  <md-content class="mainContainer" flex="none">
    <div class="thingToDoTitle">
      <h1>{{ "Lista de tareas por hacer" | uppercase }}</h1>
    </div>
    <form class="form" name="thingForm" ng-submit="main.addThingFunction()" layout="column" layout-align="center center" flex="nogrow">
      <md-input-container>
        <label>Añadir tarea</label>
        <input type="text" name="addThing" ng-model="main.addThing" md-maxlength="30">
        <div ng-messages="thingForm.addThing.$error" flex="nogrow">
          <div ng-message="md-maxlength">Tu tarea debe ser menor de 30 caracteres.</div>
        </div>
      </md-input-container>
      <md-button class="md-primary md-raised" type="submit">
        <md-icon>assignment</md-icon>
        Añadir tarea
      </md-button>
    </form>
    <div class="thingsToDo content" flex="70">
      <div class="thingToDo md-whiteframe-1dp" ng-repeat="thing in main.things track by $index" layout="row" layout-align="start center">
        <p layout="row" layout-align="center center" flex="75">{{thing}}</p>
        <div class="buttons" layout="row" layout-align="end center" flex="20">
          <md-button class="md-icon-button" ng-click="main.completeThing($index)">
            <md-tooltip md-direction="right" md-delay="0">
              Completar tarea
            </md-tooltip>
            <md-icon>check</md-icon>
          </md-button>
        </div>  
      </div>
    </div>
    
    <div class="completeTitle" layout="row" layout-align="center center">
      <h2>{{"Lista de tareas completadas" | uppercase}}</h2>
    </div>

    <div class="thingsCompleted content" flex="70">
      <div class="thingCompleted md-whiteframe-1dp" ng-repeat="completed in main.completed track by $index" layout="row" layout-align="start center">
        <p layout="row" layout-align="center center" flex="75">{{completed}}</p>
        <div class="buttons" layout="row" layout-align="end center" flex="20">
          <md-button class="md-icon-button" ng-click="main.deleteThing($index)">
            <md-tooltip md-direction="right" md-delay="0">
              Eliminar tarea
            </md-tooltip>
            <md-icon>deleted</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="main.makeItThing($index)">
            <md-tooltip md-direction="right" md-delay="0">
              Marcar como no completada
            </md-tooltip>
            <md-icon>assignment</md-icon>
          </md-button>
        </div>
      </div>
    </div>    
  </md-content>
</div>
