.allContainer
    color $COLOR_GRAY
            
    &>.mainContainer
        width 40%
        max-width 40%
        
        @media screen and (max-width: $MEDIA_STEP_MD)
            width 100%
            max-width 100%
            
        &>.form 
            &>md-input-container
                width 40%
                max-width 40%
                
                @media screen and (max-width: $MEDIA_STEP_MD)
                    width 80%
                    max-width 80%                
        
        &>.thingToDoTitle
            color $COLOR_BLUE
            text-align center
            
        &>.thingsToDo
            &>.thingToDo
                padding 0 0.5em
                background-color $COLOR_BLUE_BRIGHTER
                margin 1em 0
                
                &>p 
                    color $COLOR_WHITE
                
                &>.buttons
                    &>.md-button
                        &>md-icon
                            color $COLOR_WHITE 
        
        &>.completeTitle
            color $COLOR_BLUE_LIGHT
            text-align center

        &>.thingsCompleted
            &>.thingCompleted
                padding 0 0.5em
                background-color $COLOR_BLUE_LIGHT
                margin 1em 0
                
                &>p
                    color $COLOR_WHITE
                
                &>.buttons
                    &>.md-button
                        &>md-icon
                            color $COLOR_WHITE
                            
        &>.content
            margin 1em auto 1em auto